<div class="login-row container">
    <div class="row" id="loginSection">
        <div class="col-md-6">
            <h1>Github-Clone</h1>
            <p>
                GitHub, Inc. is a provider of Internet hosting for software development and version control using Git.
                It offers the distributed version control and source code management (SCM) functionality of Git, plus
                its own features. It provides access control and several collaboration features such as bug tracking,
                feature requests, task management, continuous integration and wikis for every project. Headquartered
                in California, it has been a subsidiary of Microsoft since 2018.
                <br><br>
                GitHub offers its basic services free of charge. Its more advanced professional and enterprise services
                are commercial. Free GitHub accounts are commonly used to host open-source projects.As of January
                2019, GitHub offers unlimited private repositories to all plans, including free accounts, but allowed
                only up to three collaborators per repository for free. Starting from April 15, 2020, the free plan
                allows unlimited collaborators, but restricts private repositories to 2,000 minutes of GitHub Actions
                per month. As of January 2020, GitHub reports having over 40 million usersand more than 190
                million repositories (including at least 28 million public repositories), making it the largest
                host of source code in the world.
            </p>
        </div>
        <div class="col-md-6">
            <form [formGroup]="loginForm">
                <div *ngIf="ErrorMessage">
                    <p class="alert alert-danger">{{ErrorMessage}}</p>
                    <!-- Here Show a Error Message when username is wrong-->
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">UserName</label>
                    <input type="text" class="form-control" placeholder="Enter UserName" ([ngModel])="userName" formControlName="username" id="exampleInputText1" aria-describedby="textHelp" required>
                    <small id="textHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-primary" (click)="HereLogin()">Login</button>
            </form>
        </div>
    </div>
</div>