#sideSection{
    margin-top:50px;
}
.profile-image {
    border-radius:50%;
    height:235px;
    width:250px;
}
h1{
    color:#1e212d;
}
p{
    color:#1e212d;
}
.time {
    text-align: right;
}
.form-check {
    margin-left:40px;
}
.form-check-label {
    font-size:18px;
    color:#0a043c;
}
.btn-danger {
    background-color:#1e212d;
    color:#eabf9f;;
    display: block;
    border:none;
    margin-top:10px;
}
.repocard {
    margin-top:40px;
}
.radiobar {
    margin-top:50px;
}
.btn-dark {
    width:150px;
    color:#eabf9f;
}
.card {
    background-color:#b68973;
    box-shadow:3px 3px 10px 3px #1e212d;
    border:none;
    margin-top:20px;
    padding:5px 10px;
}
h1.reponame{
    display:inline-block;
}
.follower-image{
    border-radius:50%;
    height:130px;
    width:130px;
    margin:auto;
}
.follow-name{
    text-align: center;
}
.follow-name .followers-link {
    color:#1e212d;
}
.follow-name .followers-link:hover{
    text-decoration: none;
}
.repo-btn{
    border:none;
    border-radius:50%;
    background-color:#1e212d;
    color:#eabf9f;
    padding:3px 8px;
}
.gist-btn{
    border:none;
    border-radius:50%;
    background-color:#1e212d;
    color:#eabf9f;
    padding:3px 8px;
}
.follow-btn{
    border:none;
    border-radius:50%;
    background-color:#1e212d;
    color:#eabf9f;
    padding:3px 8px;
}
h3 .repo-url {
    color:#1e212d;
    text-decoration: none;
}
h3 .repo-url:hover{
    text-decoration: none;
}